In [2]:
import pandas as pd
df=pd.read_csv("Twitter_Data.csv")
df.head()

                                          clean_text  category
0  when modi promised “minimum government maximum...      -1.0
1  talk all the nonsense and continue all the dra...       0.0
2  what did just say vote for modi  welcome bjp t...       1.0
3  asking his supporters prefix chowkidar their n...       1.0
4  answer who among these the most powerful world...       1.0

In [3]:
#column_names
df.columns

Index(['clean_text', 'category'], dtype='object')

In [5]:
#row_names
df.index

RangeIndex(start=0, stop=162980, step=1)

In [6]:
#numpy_array_version_of_dataset
df.values

array([['when modi promised “minimum government maximum governance” expected him begin the difficult job reforming the state why does take years get justice state should and not business and should exit psus and temples',
        -1.0],
       ['talk all the nonsense and continue all the drama will vote for modi ',
        0.0],
       ['what did just say vote for modi  welcome bjp told you rahul the main campaigner for modi think modi should just relax',
        1.0],
       ...,
       ['did you cover her interaction forum where she left ', 0.0],
       ['there big project came into india modi dream project but not happened reality',
        0.0],
       ['have you ever listen about like gurukul where discipline are maintained even narendra modi rss only maintaining the culture indian more attack politics but someone attack hinduism rss will take action that proud for ',
        1.0]], dtype=object)

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
#number_of_rows_&_column
df.shape

(162980, 2)

df.info()

# null_value_detection

In [13]:
df.isnull().sum()

clean_text    4
category      7
dtype: int64

In [14]:
df[df['clean_text'].isnull()]

       clean_text  category
148           NaN       0.0
158694        NaN      -1.0
159443        NaN       0.0
160560        NaN       1.0

In [16]:
#removing_null_values
df.dropna(how='any').shape

(162969, 2)

# remove_duplicate_rows

In [17]:
#identification
df.duplicated().sum()

2

In [19]:
#for_each_coloumn
df['clean_text'].duplicated().sum()

4

In [23]:
df[df['clean_text'].duplicated(keep='last')].head()

       clean_text  category
148           NaN       0.0
35636        2019       0.0
158694        NaN      -1.0
159443        NaN       0.0

In [25]:
#4_rows_should_be_removed_rest_we_have_to_keep
df['clean_text'].drop_duplicates().shape

(162976,)

# NLTK

In [27]:
#Removing_punctuation
df.head()

                                          clean_text  category
0  when modi promised “minimum government maximum...      -1.0
1  talk all the nonsense and continue all the dra...       0.0
2  what did just say vote for modi  welcome bjp t...       1.0
3  asking his supporters prefix chowkidar their n...       1.0
4  answer who among these the most powerful world...       1.0

In [28]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [36]:
def remove_punctuation(txt):
    txt_no_punctuation = "".join([c for c in txt if c not in string.punctuation])
    return   txt_no_punctuation

df['clean_text_modified']=df['clean_text'].apply(lambda x: remove_punctuation(x) )
df.head()

TypeError: 'float' object is not iterable

In [38]:
import nltk