In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [41]:
data = pd.read_csv('textData2.csv',sep=',')
data.head()

,tweet_id,sentiment,author,Tweet
0,1956967341,0,xoshayzers,@tiffanylue i know i was listenin to bad habi...
1,1956967666,0,wannamama,Layin n bed with a headache ughhhh...waitin o...
2,1956967696,0,cool1ky,1eral ceremony...gloomy friday...
3,1956967789,1,czareaquino,wants to hang out with friends SOON!
4,1956968416,1,xkilljoyx,@dannycastillo We want to trade with someone w...

In [42]:
data.shape

(3010, 4)

In [43]:
sentiment_map={0:'negative',1:'positive'}
data.insert(2,'sentiment_int',[sentiment_map[s] for s in data.sentiment],True)
#data['sentiment_int']=[sentiment_map[s] for s in data.sentiment]
data.head()

,tweet_id,sentiment,sentiment_int,author,Tweet
0,1956967341,0,negative,xoshayzers,@tiffanylue i know i was listenin to bad habi...
1,1956967666,0,negative,wannamama,Layin n bed with a headache ughhhh...waitin o...
2,1956967696,0,negative,cool1ky,1eral ceremony...gloomy friday...
3,1956967789,1,positive,czareaquino,wants to hang out with friends SOON!
4,1956968416,1,positive,xkilljoyx,@dannycastillo We want to trade with someone w...

In [44]:
#labeling
reviews = np.array(data['Tweet'])[:]
labels = np.array(data['sentiment_int'])[:]

In [45]:
#to check

In [46]:
data['Tweet'].loc[200]

'@AlexanderGWhite daaammmnnnnn I do wish I was there.'

In [47]:
data['sentiment_int'].loc[200]

'negative'

In [48]:
from collections import Counter

Counter(labels)

Counter({'negative': 937, 'positive': 2073})

# DATA PRE_PROCESSING

In [54]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer
import csv

def preProcessor(Tweet):
    import re
    from string import punctuation
    text=re.sub(r'(http|ftp|https):\/\/([\w\-_]+(?:(?:\.[\w\-_]+)+))([\w\-\.,@?^=%&:/~\+#]*[\w\-\@?^=%&/~\+#])?', ' ', Tweet)
    text=re.sub(r'['+punctuation+']',' ',Tweet)
    text=re.sub(r'#(\w+)',' ',Tweet)
    text=re.sub(r'@(\w+)',' ',Tweet)
    #print(token.tokenize(text))
    return Tweet

token=RegexpTokenizer(r'\w+')
cv=CountVectorizer(lowercase=True,preprocessor=preProcessor,stop_words='english',ngram_range=(1,1),tokenizer=token.tokenize)
#text_counts=cv.fit_transform(data['Tweet'])
text_counts=cv.fit_transform(data['Tweet'].values.astype('U'))

In [55]:
from sklearn.model_selection import train_test_split
# x_train, x_test, y_train, y_test = train_test_split(text_counts,data['sentiment'],test_size=0.3)
x_train, x_test, y_train, y_test = train_test_split(text_counts,data['sentiment_int'],test_size=0.3)

In [56]:
from sklearn.naive_bayes import *
from sklearn import metrics

clf=MultinomialNB()
#clf_gaus=GaussianNB()
#clf_ber=BernoulliNB()
clf.fit(x_train,y_train)
pred=clf.predict(x_test)
metrics.accuracy_score(y_test, pred)

0.6378737541528239

In [57]:
#Ber_NB
clf=BernoulliNB()
clf.fit(x_train,y_train)
clf.fit(x_train,y_train)
pred=clf.predict(x_test)
metrics.accuracy_score(y_test, pGaussianNB()red)

0.6755260243632336

In [59]:
#svm
from sklearn.svm import LinearSVC

In [60]:
#linear
clf=LinearSVC()
clf.fit(x_train,y_train)
clf.fit(x_train,y_train)
pred=clf.predict(x_test)
metrics.accuracy_score(y_test, pred)

0.6644518272425249

In [61]:
# Polynomial Kernel
from sklearn.svm import SVC
svclassifier = SVC(kernel='poly', degree=8)
svclassifier.fit(x_train, y_train)
pred=svclassifier.predict(x_test)
metrics.accuracy_score(y_test, pred)

0.6866002214839424

In [62]:
#Gaussian Kernel
svclassifier = SVC(kernel='rbf')
svclassifier.fit(x_train, y_train)
pred=svclassifier.predict(x_test)
metrics.accuracy_score(y_test, pred)

0.6954595791805094

In [63]:
#Sigmoid Kernel
svclassifier = SVC(kernel='sigmoid')
svclassifier.fit(x_train, y_train)
pred=svclassifier.predict(x_test)
metrics.accuracy_score(y_test, pred)

0.6688815060908084

In [64]:
# K=5
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train, y_train)
pred=knn.predict(x_test)
metrics.accuracy_score(y_test, pred)

0.6688815060908084

In [65]:
# K=7
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train, y_train)
pred=knn.predict(x_test)
metrics.accuracy_score(y_test, pred)

0.6722037652270211

In [66]:
# K=4
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=4)
knn.fit(x_train, y_train)
pred=knn.predict(x_test)
metrics.accuracy_score(y_test, pred)

0.6090808416389811