In [99]:
import pandas as pd
import nltk
from bs4 import BeautifulSoup
import string
from nltk.corpus import  stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import regex
import string
import re


%matplotlib inline

In [100]:
df=pd.read_csv('tweet final.csv')
df.shape

(200, 5)

In [101]:
df.head(5)

,Unnamed: 0,Unnamed: 1,Date/Time,Author,Topic
0,NaN,NaN,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"http://twitpic.com/2y1zl - Awww, that's a bum..."
1,NaN,NaN,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...
2,NaN,NaN,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...
3,NaN,NaN,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
4,NaN,NaN,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all...."

In [102]:
df.isnull().mean().sort_values(ascending=False)

Unnamed: 1    1.0
Unnamed: 0    1.0
Topic         0.0
Author        0.0
Date/Time     0.0
dtype: float64

In [103]:
df.dtypes

Unnamed: 0    float64
Unnamed: 1    float64
Date/Time      object
Author         object
Topic          object
dtype: object

In [104]:
df.isnull().sum()

Unnamed: 0    200
Unnamed: 1    200
Date/Time       0
Author          0
Topic           0
dtype: int64

In [105]:
for col in df:
    if type(df[col])=='object':
        df[col]=df[col].fillna(value='unknown')
    else:
        df[col] =df[col].fillna(value=0)

In [106]:
df.isnull().sum().sum()

0

In [107]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Date/Time', 'Author', 'Topic'], dtype='object')

In [108]:
df.drop(['Unnamed: 0','Unnamed: 1'],axis=1,inplace=True)

In [109]:
df.head()

,Date/Time,Author,Topic
0,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"http://twitpic.com/2y1zl - Awww, that's a bum..."
1,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...
2,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...
3,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
4,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all...."

In [110]:
#remove_punct
df['Topic'] = df['Topic'].str.replace('[^\w\s]','')
df.head()

,Date/Time,Author,Topic
0,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,httptwitpiccom2y1zl Awww thats a bummer You...
1,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he cant update his Facebook by t...
2,Mon Apr 06 22:19:53 PDT 2009,mattycus,Kenichan I dived many times for the ball Manag...
3,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
4,Mon Apr 06 22:19:57 PDT 2009,Karoli,nationwideclass no its not behaving at all im ...

In [111]:
#Tokenization

In [112]:
tokenizer=RegexpTokenizer(r'\S+')

In [113]:
df['Topic']=df['Topic'].apply(lambda x:tokenizer.tokenize(x.lower()))
df['Topic'].head(10)

0    [httptwitpiccom2y1zl, awww, thats, a, bummer, ...
1    [is, upset, that, he, cant, update, his, faceb...
2    [kenichan, i, dived, many, times, for, the, ba...
3    [my, whole, body, feels, itchy, and, like, its...
4    [nationwideclass, no, its, not, behaving, at, ...
5                    [kwesidei, not, the, whole, crew]
6                                       [need, a, hug]
7    [loltrish, hey, long, time, no, see, yes, rain...
8             [tatiana_k, nope, they, didnt, have, it]
9                           [twittera, que, me, muera]
Name: Topic, dtype: object

In [114]:
#remove_stopwords
stopword = nltk.corpus.stopwords.words('english')
def remove_stopwords(Topic):
    Topic = [word for word in Topic if word not in stopword]
    return Topic
    
df['Topic'] = df['Topic'].apply(lambda x: remove_stopwords(x))
df.head(10)

,Date/Time,Author,Topic
0,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"[httptwitpiccom2y1zl, awww, thats, bummer, sho..."
1,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,"[upset, cant, update, facebook, texting, might..."
2,Mon Apr 06 22:19:53 PDT 2009,mattycus,"[kenichan, dived, many, times, ball, managed, ..."
3,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,"[whole, body, feels, itchy, like, fire]"
4,Mon Apr 06 22:19:57 PDT 2009,Karoli,"[nationwideclass, behaving, im, mad, cant, see]"
5,Mon Apr 06 22:20:00 PDT 2009,joy_wolf,"[kwesidei, whole, crew]"
6,Mon Apr 06 22:20:03 PDT 2009,mybirch,"[need, hug]"
7,Mon Apr 06 22:20:03 PDT 2009,coZZ,"[loltrish, hey, long, time, see, yes, rains, b..."
8,Mon Apr 06 22:20:05 PDT 2009,2Hood4Hollywood,"[tatiana_k, nope, didnt]"
9,Mon Apr 06 22:20:09 PDT 2009,mimismo,"[twittera, que, muera]"

In [115]:
#Stemming and Lammitization
ps = nltk.PorterStemmer()

def stemming(Topic):
    Topic = [ps.stem(word) for word in Topic]
    return Topic

df['Topic'] = df['Topic'].apply(lambda x: stemming(x))
df.head()

,Date/Time,Author,Topic
0,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"[httptwitpiccom2y1zl, awww, that, bummer, shou..."
1,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,"[upset, cant, updat, facebook, text, might, cr..."
2,Mon Apr 06 22:19:53 PDT 2009,mattycus,"[kenichan, dive, mani, time, ball, manag, save..."
3,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,"[whole, bodi, feel, itchi, like, fire]"
4,Mon Apr 06 22:19:57 PDT 2009,Karoli,"[nationwideclass, behav, im, mad, cant, see]"

In [116]:
#train_test_split

In [117]:
#from sklearn.model_selection import train_test_split
#train, test = train_test_split(df, test_size=0.2)

In [118]:
#import sys
#mport time
#from sklearn.externals import joblib

In [122]:
!pip install --user scikit-learn

Requirement already satisfied: scikit-learn in e:\anaconda\lib\site-packages (0.23.1)
Requirement already satisfied: scipy>=0.19.1 in e:\anaconda\lib\site-packages (from scikit-learn) (1.5.0)
Requirement already satisfied: numpy>=1.13.3 in e:\anaconda\lib\site-packages (from scikit-learn) (1.18.5)
Requirement already satisfied: joblib>=0.11 in e:\anaconda\lib\site-packages (from scikit-learn) (0.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in e:\anaconda\lib\site-packages (from scikit-learn) (2.1.0)

In [127]:

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

In [140]:
X = df[['Date/Time']]
y = df['Topic']

In [141]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [142]:
X_train

                        Date/Time
149  Mon Apr 06 22:28:32 PDT 2009
138  Mon Apr 06 22:28:11 PDT 2009
67   Mon Apr 06 22:23:28 PDT 2009
100  Mon Apr 06 22:26:33 PDT 2009
62   Mon Apr 06 22:23:03 PDT 2009
..                            ...
122  Mon Apr 06 22:27:25 PDT 2009
90   Mon Apr 06 22:26:10 PDT 2009
57   Mon Apr 06 22:22:47 PDT 2009
94   Mon Apr 06 22:26:22 PDT 2009
44   Mon Apr 06 22:21:56 PDT 2009

[140 rows x 1 columns]

In [143]:
X_test

                        Date/Time
10   Mon Apr 06 22:20:16 PDT 2009
89   Mon Apr 06 22:26:10 PDT 2009
167  Mon Apr 06 22:31:29 PDT 2009
83   Mon Apr 06 22:25:54 PDT 2009
197  Mon Apr 06 22:32:51 PDT 2009
95   Mon Apr 06 22:26:27 PDT 2009
106  Mon Apr 06 22:26:48 PDT 2009
141  Mon Apr 06 22:28:18 PDT 2009
84   Mon Apr 06 22:25:54 PDT 2009
195  Mon Apr 06 22:32:40 PDT 2009
11   Mon Apr 06 22:20:17 PDT 2009
6    Mon Apr 06 22:20:03 PDT 2009
110  Mon Apr 06 22:26:54 PDT 2009
20   Mon Apr 06 22:20:37 PDT 2009
124  Mon Apr 06 22:27:34 PDT 2009
85   Mon Apr 06 22:25:56 PDT 2009
51   Mon Apr 06 22:22:24 PDT 2009
154  Mon Apr 06 22:28:48 PDT 2009
79   Mon Apr 06 22:25:49 PDT 2009
140  Mon Apr 06 22:28:15 PDT 2009
119  Mon Apr 06 22:27:18 PDT 2009
170  Mon Apr 06 22:31:35 PDT 2009
34   Mon Apr 06 22:21:21 PDT 2009
169  Mon Apr 06 22:31:37 PDT 2009
145  Mon Apr 06 22:28:24 PDT 2009
30   Mon Apr 06 22:21:07 PDT 2009
32   Mon Apr 06 22:21:09 PDT 2009
73   Mon Apr 06 22:23:43 PDT 2009
186  Mon Apr 06 22:32:22 PDT 2009
14   Mon Apr 06 22:20:20 PDT 2009
40   Mon Apr 06 22:21:39 PDT 2009
66   Mon Apr 06 22:23:23 PDT 2009
133  Mon Apr 06 22:28:03 PDT 2009
162  Mon Apr 06 22:30:56 PDT 2009
63   Mon Apr 06 22:23:08 PDT 2009
69   Mon Apr 06 22:23:30 PDT 2009
148  Mon Apr 06 22:28:33 PDT 2009
193  Mon Apr 06 22:32:35 PDT 2009
114  Mon Apr 06 22:27:02 PDT 2009
137  Mon Apr 06 22:28:09 PDT 2009
72   Mon Apr 06 22:23:43 PDT 2009
189  Mon Apr 06 22:32:28 PDT 2009
143  Mon Apr 06 22:28:23 PDT 2009
146  Mon Apr 06 22:28:26 PDT 2009
77   Mon Apr 06 22:25:45 PDT 2009
118  Mon Apr 06 22:27:16 PDT 2009
48   Mon Apr 06 22:22:13 PDT 2009
33   Mon Apr 06 22:21:11 PDT 2009
37   Mon Apr 06 22:21:30 PDT 2009
49   Mon Apr 06 22:22:25 PDT 2009
185  Mon Apr 06 22:32:20 PDT 2009
54   Mon Apr 06 22:22:32 PDT 2009
58   Mon Apr 06 22:22:49 PDT 2009
68   Mon Apr 06 22:23:28 PDT 2009
147  Mon Apr 06 22:28:26 PDT 2009
164  Mon Apr 06 22:31:09 PDT 2009
181  Mon Apr 06 22:32:02 PDT 2009
98   Mon Apr 06 22:26:29 PDT 2009
91   Mon Apr 06 22:26:14 PDT 2009
87   Mon Apr 06 22:26:06 PDT 2009

In [144]:
y_train

149    [rumblepurr, lol, wish, understood, daylight, ...
138    [india, miss, 100th, test, victori, n, 10th, c...
67     [mo, job, money, hell, min, wage, 4, fn, clam,...
100    [bodi, miss, northern, calif, girl, found, pol...
62                                          [life, cool]
                             ...
122    [know, life, flip, upsid, thought, head, ramen...
90     [hollywoodheat, paid, attent, cover, photoshop...
57     [sad, feel, dalla, go, show, gotta, say, thoug...
94     [makeherfam, hmm, u, realli, enjoy, problem, c...
44     [fall, asleep, heard, traci, girl, bodi, found...
Name: Topic, Length: 140, dtype: object

In [145]:
y_test

10                    [spring, break, plain, citi, snow]
89     [januarycrimson, sorri, babe, fam, annoy, than...
167    [go, school, soon, cant, find, anyth, wear, go...
83                                  [markhardy1974, itm]
197                                   [go, sleep, tonit]
95     [strider, sick, littl, puppi, httpappsfacebook...
106    [emili, glad, mommi, done, train, new, job, mi...
141                 [ozesteph1992, shame, hear, stephan]
84              [damn, dont, chalk, chalkboard, useless]
195           [didnt, get, shit, done, today, im, screw]
11                                        [repierc, ear]
6                                            [need, hug]
110                                     [lay, bed, voic]
20              [alydesign, day, didnt, get, much, done]
124    [late, night, snack, glass, oj, bc, im, quotdo...
85     [blast, getti, villa, hate, she, sore, throat,...
51     [localtweep, wow, ton, repli, may, unfollow, s...
154    [jonathanchard, calori, wise, wish, junk, food...
79     [wonder, someon, u, like, much, make, unhappi,...
140                                     [sadli, go, bed]
119    [erre_sc, aaw, miss, ya, im, leav, bh, tomorro...
170            [crazi, wind, today, bird, httpffim1xtti]
34            [humpninja, cri, asian, eye, sleep, night]
169    [naughtyhaughti, page, sooooo, long, got, dele...
145    [twista202, still, havent, read, 9thamp10th, p...
30           [some1, hack, account, aim, make, new, one]
32     [thought, sleep, option, tomorrow, realiz, eva...
73     [gym, attir, today, puma, singlet, adida, shor...
186    [mani, channel, yet, bore, lazi, day, may, fin...
14     [smarrison, wouldv, first, didnt, gun, realli,...
40     [realli, dont, feel, like, get, today, got, st...
66                        [damm, back, school, tomorrow]
133                                     [almost, bedtim]
162                                          [feel, bad]
63     [sadli, though, ive, never, gotten, experi, po...
69     [lt_algonquin, agre, saw, failwhal, allllll, d...
148             [go, sleep, hope, tomorrow, better, day]
193    [goodlaura, rees, die, ttsc, season, final, ne...
114                                [salancast, hope, ok]
137    [bridgetsbeach, thank, let, peopl, know, im, s...
72     [realli, hate, peopl, diss, band, trace, clear...
189    [opp, said, still, got, one, day, remain, prob...
143    [intend, finish, edit, 536page, novel, manuscr...
146                                   [nokia, 1110, die]
77                              [new, csi, tonight, fml]
118             [hang, crooner, wanna, sing, cant, suck]
48                     [strang, sad, lilo, samro, break]
33                      [julieebabi, awe, love, 1, miss]
37     [missxu, sorri, bed, time, came, gmt1, httpisg...
49           [tea, oh, im, sorri, didnt, think, retweet]
185                             [watch, hill, make, sad]
54                                           [need, hug]
58                              [ugh92, degre, tomorrow]
68                          [katortiz, forev, see, soon]
147    [mom, might, breast, cancer, wont, find, anyth...
164    [pinkserendip, ye, sprint, 4g, baltimor, chica...
181         [check, mug, httpwwwerikaobscurablogspotcom]
98                   [stark, dont, follow, either, work]
91                      [wednesday, bday, dont, know, 2]
87     [tummi, hurt, wonder, hypnosi, anyth, work, ge...
Name: Topic, dtype: object

In [146]:
#Predict the sentiment

def predict(Topic,classifier):
    
    tweet_processed = stem(preprocessTweets(tweet))
             
    if ( ('__positive__') in (tweet_processed)):
         sentiment  = 1
         return sentiment
        
    elif ( ('__negative__') in (tweet_processed)):
         sentiment  = 0
         return sentiment       
    else:
        
        X =  [tweet_processed]
        sentiment = classifier.predict(X)
        return (sentiment[0])

ValueError: could not convert string to float: 'Mon Apr 06 22:28:32 PDT 2009'